@import './shared/reset.css';
@import './shared/general.css';
@import './shared/header.css';
@import './shared/contact_forms.css';
@import './shared/footer.css';

/* Landing page */
.a-lp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.a-lp h1 {
  font-size: 5rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 3rem;
}

.a-lp p {
  font-size: 0.9rem;
  margin-top: 1.85rem;
  line-height: 2.3rem;
  margin-top: 2.7rem;
}

.a-scroll {
  margin-top: 2rem;
}

/* Beanery section */
.beanery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 26rem;
  padding-left: 1.7rem;
  padding-right: 1.1rem;
}

.beanery-rect {
  width: 100%;
  height: 22rem;
  background: #efefef;
  position: absolute;
  z-index: -1;
  margin-top: 4.7rem;
}

.beanery h1 {
  font-size: 4.5rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 3rem;
}

.beanery h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.7rem;
  margin-left: 0.5rem;
}

.beanery-text1 {
  font-size: 0.9rem;
  margin-top: 1.4rem;
  line-height: 2.26rem;
  margin-left: 0.5rem;
}

.beanery-text2 {
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 2.26rem;
  margin-left: 0.5rem;
}

.history-img-d {
  display: none;
}

/* History */
.section-a4 {
  margin-top: 10.5rem;
}

.history-img {
  width: 83%;
  height: 22.5rem;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.history {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 24rem;
  padding-left: 2rem;
  padding-right: 1.9rem;
}

.history-rect {
  width: 73%;
  height: 33rem;
  background: #efefef;
  position: absolute;
  z-index: -1;
  right: 0%;
  margin-top: 14rem;
}

.history h1 {
  font-size: 4.5rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 4rem;
}

.history h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-left: 0.5rem;
}

.history p {
  font-size: 0.9rem;
  margin-top: 1.85rem;
  line-height: 2.3rem;
  margin-left: 0.65rem;
  margin-top: 1.3rem;
}

/* Staff section */
.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5.7rem;
}

.staff-slope {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 77% 23%;
  width: 88%;
  height: 32rem;
  margin-top: 6rem;
}

.staff-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.staff-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #efefef;
}

.staff-info h1 {
  font-size: 1.8rem;
  letter-spacing: 0.17rem;
  font-weight: 600;
}

.staff-info h3 {
  font-size: 1.2rem;
  letter-spacing: 0.17rem;
  font-weight: 300;
  color: #ffa190;
  margin-top: 0.25rem;
}

/* Access section */
.section-a6 {
  margin-top: 11.7rem;
}

.access-img {
  width: 85%;
  height: 20.4rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.access-rect {
  width: 83%;
  height: 43.6rem;
  background: #efefef;
  position: absolute;
  z-index: -1;
  margin-top: 11.5rem;
}

.access {
  display: flex;
  flex-direction: column;
  width: 83%;
  height: 34rem;
  padding-left: 2rem;
}

.access h1 {
  font-size: 4.5rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 3.7rem;
}

.access h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-left: 0.5rem;
}

.access-open h2 {
  font-size: 1.2rem;
  margin-top: 2.6rem;
  letter-spacing: 0.13rem;
  margin-left: 0.3rem;
}

.access-open p {
  font-size: 1.15rem;
  margin-left: 0.3rem;
}

.access-tel h2 {
  font-size: 1.2rem;
  margin-top: 2.6rem;
  letter-spacing: 0.13rem;
  margin-left: 0.3rem;
}

.access-tel p {
  font-size: 1.15rem;
  margin-left: 0.3rem;
}

.access-address h2 {
  font-size: 1.2rem;
  margin-top: 2.6rem;
  letter-spacing: 0.13rem;
  margin-left: 0.3rem;
}

.access-address p {
  font-size: 1.15rem;
  margin-left: 0.3rem;
}

/* Contact section */
.section-a7 {
  margin-top: 10.6rem;
}

/* Footer section */
.section-a8 {
  margin-top: 9rem;
}

/* LAPTOP VERSION */
@media screen and (min-width: 1025px) {
  /* Landing page */
  .a-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .a-lp h1 {
    font-size: 6.34rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 7rem;
    letter-spacing: 0.25rem;
  }

  .a-lp p {
    font-size: 1.3rem;
    line-height: 2.8rem;
    margin-top: 3.5rem;
    letter-spacing: 0.04rem;
  }

  .a-scroll {
    margin-top: 2.6rem;
  }

  /* Beanery section */
  .beanery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 26rem;
    padding-left: 5rem;
    padding-right: 50rem;
  }

  .beanery-rect {
    width: 79%;
    height: 22rem;
    background: #efefef;
    position: absolute;
    z-index: -2;
    margin-top: 4.7rem;
  }

  .beanery h1 {
    font-size: 6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 3rem;
    letter-spacing: 0.2rem;
  }

  .beanery h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1.8rem;
    margin-left: 0.6rem;
  }

  .beanery-text1 {
    font-size: 1.2rem;
    margin-top: 1.9rem;
    line-height: 2.8rem;
    margin-left: 0.7rem;
  }

  .beanery-text2 {
    font-size: 1.2rem;
    margin-top: 1.3rem;
    line-height: 2.8rem;
    margin-left: 0.7rem;
  }

  .history-img-d {
    display: block;
    position: absolute;
    right: 14%;
    margin-top: 9rem;
    z-index: -1;
  }

  /* History */
  .section-a4 {
    margin-top: 8.5rem;
  }

  .history-img {
    width: 83%;
    height: 22.5rem;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: none;
  }

  .history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 24rem;
    padding-left: 17.6rem;
    padding-right: 14rem;
    margin-top: 23rem;
  }

  .history-rect-d {
    width: 59%;
    height: 23rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    right: 7.6%;
  }

  .history-rect {
    width: 73%;
    height: 33rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    right: 0%;
    margin-top: 14rem;
    display: none;
  }

  .history h1 {
    font-size: 6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 3rem;
    letter-spacing: 0.2rem;
  }

  .history h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 3.2rem;
    margin-left: 11.9rem;
  }

  .history p {
    font-size: 1.1rem;
    margin-top: 1.9rem;
    line-height: 2.8rem;
    margin-left: 12rem;
  }

  /* Staff section */
  .staff {
    display: flex;
    flex-direction: unset;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 35rem;
    margin-top: 12.5rem;
  }

  .staff-slope {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 77% 23%;
    width: 21.1rem;
    height: 32rem;
    margin-top: 0rem;
  }

  .staff-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .staff-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #efefef;
  }

  .staff-info h1 {
    font-size: 1.8rem;
    letter-spacing: 0.17rem;
    font-weight: 600;
  }

  .staff-info h3 {
    font-size: 1.2rem;
    letter-spacing: 0.17rem;
    font-weight: 300;
    color: #ffa190;
    margin-top: 0.25rem;
  }

  /* Access section */
  .section-a6 {
    margin-top: 9rem;
    padding-top: 4rem;
  }

  .access-img {
    width: 51%;
    height: 30rem;
    left: auto;
    margin-left: 5rem;
    transform: translateX(0%);
    position: absolute;
    z-index: -1;
  }

  .access-rect {
    width: 53%;
    height: 27.5rem;
    background: #efefef;
    position: absolute;
    z-index: 1;
    margin-top: 6.3rem;
    margin-left: 32rem;
    display: none;
  }

  .access {
    display: flex;
    flex-direction: column;
    width: 53%;
    height: 30rem;
    padding-left: 3.5rem;
    margin-left: 32rem;
    margin-top: 4rem;
    background: #efefef;
  }

  .access h1 {
    font-size: 4.5rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 3.7rem;
  }

  .access h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 0.9rem;
    margin-left: 0.5rem;
  }

  .access-open h2 {
    font-size: 1.1rem;
    margin-top: 2rem;
    letter-spacing: 0.13rem;
    margin-left: 0.65rem;
  }

  .access-open p {
    font-size: 1.02rem;
    margin-left: 0.65rem;
  }

  .access-tel h2 {
    font-size: 1.1rem;
    margin-top: 1.7rem;
    letter-spacing: 0.13rem;
    margin-left: 0.65rem;
  }

  .access-tel p {
    font-size: 1.02rem;
    margin-left: 0.65rem;
  }

  .access-address h2 {
    font-size: 1.1rem;
    margin-top: 1.7rem;
    letter-spacing: 0.13rem;
    margin-left: 0.65rem;
  }

  .access-address p {
    font-size: 1.02rem;
    margin-left: 0.65rem;
  }

  /* Contact section */
  .section-a7 {
    margin-top: 10.6rem;
  }

  /* Footer section */
  .section-a8 {
    margin-top: 9rem;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Landing page */
  .a-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-left: 12%;
    padding-right: 12%;
  }

  .a-lp h1 {
    font-size: 7.4rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 7rem;
    letter-spacing: 0.25rem;
  }

  .a-lp p {
    font-size: 1.5rem;
    line-height: 2.8rem;
    margin-top: 6.5rem;
    letter-spacing: 0.04rem;
  }

  .a-scroll {
    margin-top: 4rem;
    width: 3rem;
  }

  /* Beanery section */
  .beanery {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 26rem;
    padding-left: 5rem;
    padding-right: 5%;
  }

  .beanery-rect {
    width: 100%;
    height: 22rem;
    background: #efefef;
    position: absolute;
    z-index: -2;
    margin-top: 4.7rem;
  }

  .beanery h1 {
    font-size: 6.4rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 3rem;
    letter-spacing: 0.2rem;
  }

  .beanery h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 1.8rem;
    margin-left: 0.6rem;
  }

  .beanery-text1 {
    font-size: 1.3rem;
    margin-top: 2.2rem;
    line-height: 2.8rem;
    margin-left: 0.88rem;
  }

  .beanery-text2 {
    font-size: 1.3rem;
    margin-top: 1.3rem;
    line-height: 2.8rem;
    margin-left: 0.88rem;
  }

  .history-img-d {
    display: none;
    position: absolute;
    right: 14%;
    margin-top: 25rem;
    z-index: -3;
  }

  /* History */
  .section-a4 {
    margin-top: 14rem;
  }

  .history-img {
    width: 83%;
    height: 25rem;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    display: block;
  }

  .history {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 24rem;
    padding-left: 19%;
    padding-right: 22%;
    margin-top: 7%;
  }

  .history-rect-d {
    width: 59%;
    height: 23rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    right: 7.6%;
    display: none;
  }

  .history-rect {
    width: 65%;
    height: 47rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    right: 0%;
    margin-top: 14rem;
  }

  .history h1 {
    font-size: 6.4rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 4rem;
    letter-spacing: 0.2rem;
  }

  .history h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 2.5rem;
    margin-left: 0.88rem;
  }

  .history p {
    font-size: 1.2rem;
    margin-top: 2.2rem;
    line-height: 3.2rem;
    margin-left: 0.88rem;
  }

  /* Staff section */
  .staff {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 12.5rem;
  }

  .staff-slope {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 77% 23%;
    width: 75%;
    height: 53rem;
    margin-top: 6.5rem;
  }

  .staff-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .staff-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #efefef;
  }

  .staff-info h1 {
    font-size: 3rem;
    letter-spacing: 0.17rem;
    font-weight: 600;
  }

  .staff-info h3 {
    font-size: 1.7rem;
    letter-spacing: 0.17rem;
    font-weight: 300;
    color: #ffa190;
    margin-top: 2rem;
  }

  /* Access section */
  .section-a6 {
    margin-top: 9rem;
    padding-top: 4rem;
  }

  .access-img {
    width: 60%;
    height: 28rem;
    left: 0%;
    margin-left: 0rem;
    transform: translateX(0%);
    position: absolute;
    z-index: -1;
  }

  .access-rect {
    width: 80%;
    height: 25.8rem;
    background: #efefef;
    position: absolute;
    z-index: 1;
    margin-top: 9rem;
    right: 0%;
    margin-left: 0rem;
    display: none;
  }

  .access {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 78%;
    height: 32.9rem;
    padding-left: 3.5rem;
    margin-left: 7.4rem;
    margin-top: 7.2rem;
    background: #efefef;
    position: static;
    right: 0%;
  }

  .access h1 {
    font-size: 5.6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 0rem;
  }

  .access h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1.88rem;
    margin-left: 0.5rem;
  }

  .access-open h2 {
    font-size: 1.4rem;
    margin-top: 2rem;
    letter-spacing: 0.13rem;
    margin-left: 0.65rem;
  }

  .access-open p {
    font-size: 1.2rem;
    margin-left: 0.65rem;
  }

  .access-tel h2 {
    font-size: 1.4rem;
    margin-top: 1.7rem;
    letter-spacing: 0.13rem;
    margin-left: 0.65rem;
  }

  .access-tel p {
    font-size: 1.2rem;
    margin-left: 0.65rem;
  }

  .access-address h2 {
    font-size: 1.4rem;
    margin-top: 1.7rem;
    letter-spacing: 0.13rem;
    margin-left: 0.65rem;
  }

  .access-address p {
    font-size: 1.2rem;
    margin-left: 0.65rem;
  }

  /* Contact section */
  .section-a7 {
    margin-top: 15.5rem;
  }

  /* Footer section */
  .section-a8 {
    margin-top: 13rem;
  }
}
