@import './shared/reset.css';
@import './shared/general.css';
@import './shared/header.css';
@import './shared/contact_forms.css';
@import './shared/footer.css';

/* Landing page section */
.c-lp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 88vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

.c-lp h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 3.7rem;
  color: #462816;
  font-weight: 500;
  margin-top: 4rem;
  letter-spacing: 0.25rem;
}

.c-lp p {
  font-size: 0.9rem;
  margin-top: 2.7rem;
}

.c-scroll {
  margin-top: 2.1rem;
}

.c-lp-img {
  object-fit: cover;
  width: 100%;
  height: 18rem;
}

/* Contact section */
.section-c3 {
  margin-top: 8rem;
}

.section-c4 {
  margin-top: 9rem;
}

/* LAPTOP VERSION */
@media screen and (min-width: 1025px) {
  /* Landing page section */
  .c-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 88vh;
    padding-left: 18rem;
    padding-right: 18rem;
  }

  .c-lp h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 6.8rem;
    color: #462816;
    font-weight: 500;
    margin-top: 4rem;
    letter-spacing: 0.25rem;
  }

  .c-lp p {
    font-size: 1.12rem;
    margin-top: 4rem;
  }

  .c-scroll {
    margin-top: 2.1rem;
  }

  .c-lp-img {
    object-fit: cover;
    width: 100%;
    height: 18rem;
  }

  /* Contact section */
  .section-c3 {
    margin-top: 8rem;
  }

  .section-c4 {
    margin-top: 9rem;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Landing page section */
  .c-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 88vh;
    padding-left: 9%;
    padding-right: 9%;
  }

  .c-lp h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 7rem;
    color: #462816;
    font-weight: 500;
    margin-top: 4rem;
    letter-spacing: 0.25rem;
  }

  .c-lp p {
    font-size: 1.3rem;
    line-height: 2.7rem;
    margin-top: 5.5rem;
  }

  .c-scroll {
    margin-top: 3rem;
    width: 2.75rem;
  }

  .c-lp-img {
    object-fit: cover;
    width: 100%;
    height: 18rem;
  }

  /* Contact section */
  .section-c3 {
    margin-top: 9rem;
  }

  .section-c4 {
    margin-top: 15rem;
  }
}
