@import './shared/reset.css';
@import './shared/general.css';
@import './shared/header.css';
@import './shared/contact_forms.css';
@import './shared/footer.css';

/* Landing page */
.r-lp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

.r-lp-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.r-lp h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 4rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.25rem;
  margin-top: 3rem;
}

.r-lp p {
  font-size: 0.8rem;
  font-weight: lighter;
  margin-top: 2.9rem;
  color: #fff;
  letter-spacing: 0.1rem;
}

.r-scroll {
  margin-top: 2.4rem;
}

/* Reservation section */
.reservation {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 38rem;
  margin-top: 5rem;
}

.reservation-rect {
  width: 100%;
  height: 30rem;
  position: absolute;
  z-index: -1;
  background: #efefef;
  margin-top: 5.5rem;
}

.reservation h1 {
  font-size: 4rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 3.7rem;
  letter-spacing: 0.2rem;
}

.reservation h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.9rem;
  margin-left: 0.5rem;
}

#reservation-date {
  width: 85%;
  height: 3.25rem;
  margin-top: 3rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border: 1.4px rgb(36, 35, 35) solid;
  outline: none;
}

#reservation-date::placeholder {
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

#reservation-time {
  width: 85%;
  height: 3.25rem;
  margin-top: 1.6rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border: 1.4px rgb(36, 35, 35) solid;
  outline: none;
}

#reservation-time::placeholder {
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

#reservation-people {
  width: 85%;
  height: 3.25rem;
  margin-top: 1.6rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border: 1.4px rgb(36, 35, 35) solid;
  outline: none;
}

#reservation-people::placeholder {
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.reservation-button {
  width: 50%;
  height: 3.25rem;
  margin-top: 3.25rem;
  background: #fcd5ce;
  border: 1px #fcd5ce solid;
  font-size: 1rem;
}

/* Footer section */
.section-r4 {
  margin-top: 10rem;
}

/* LAPTOP VERSION */
@media screen and (min-width: 1025px) {
  /* Landing page */
  .r-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-left: 15rem;
    padding-right: 15rem;
  }

  .r-lp-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  .r-lp h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 6.8rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.25rem;
    margin-top: 5rem;
  }

  .r-lp p {
    font-size: 1.12rem;
    font-weight: lighter;
    margin-top: 4.3rem;
    color: #fff;
    letter-spacing: 0.1rem;
  }

  .r-scroll {
    margin-top: 3rem;
  }

  /* Reservation section */
  .reservation {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 38rem;
    margin-top: 5rem;
  }

  .reservation-rect {
    width: 70%;
    height: 30.8rem;
    position: absolute;
    z-index: -1;
    background: #efefef;
    margin-top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .reservation h1 {
    font-size: 6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 3.7rem;
    letter-spacing: 0.2rem;
  }

  .reservation h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
  }

  #reservation-date {
    width: 50%;
    height: 3.25rem;
    margin-top: 3rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: 1.4px rgb(36, 35, 35) solid;
    outline: none;
  }

  #reservation-date::placeholder {
    color: #000;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #reservation-time {
    width: 50%;
    height: 3.25rem;
    margin-top: 1.6rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: 1.4px rgb(36, 35, 35) solid;
    outline: none;
  }

  #reservation-time::placeholder {
    color: #000;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #reservation-people {
    width: 50%;
    height: 3.25rem;
    margin-top: 1.6rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: 1.4px rgb(36, 35, 35) solid;
    outline: none;
  }

  #reservation-people::placeholder {
    color: #000;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  .reservation-button {
    width: 12.5rem;
    height: 3.25rem;
    margin-top: 3.25rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    font-size: 1rem;
  }

  /* Footer section */
  .section-r4 {
    margin-top: 10rem;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Landing page */
  .r-lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-left: 9%;
    padding-right: 9%;
  }

  .r-lp-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  .r-lp h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 7.3rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.25rem;
    margin-top: 5rem;
  }

  .r-lp p {
    font-size: 1.38rem;
    font-weight: lighter;
    margin-top: 5.6rem;
    color: #fff;
    letter-spacing: 0.1rem;
    line-height: 2.7rem;
  }

  .r-scroll {
    margin-top: 4rem;
    width: 2.65rem;
  }

  /* Reservation section */
  .reservation {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 38rem;
    margin-top: 5rem;
  }

  .reservation-rect {
    width: 83%;
    height: 30.8rem;
    position: absolute;
    z-index: -1;
    background: #efefef;
    margin-top: 5.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .reservation h1 {
    font-size: 6.6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 3.7rem;
    letter-spacing: 0.2rem;
  }

  .reservation h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.4rem;
    margin-top: 2.35rem;
    margin-left: 0.5rem;
  }

  #reservation-date {
    width: 70%;
    height: 3.25rem;
    margin-top: 3rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: 1.4px rgb(36, 35, 35) solid;
    outline: none;
  }

  #reservation-date::placeholder {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #reservation-time {
    width: 70%;
    height: 3.25rem;
    margin-top: 1.874rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: 1.4px rgb(36, 35, 35) solid;
    outline: none;
  }

  #reservation-time::placeholder {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #reservation-people {
    width: 70%;
    height: 3.25rem;
    margin-top: 1.74rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    border: 1.4px rgb(36, 35, 35) solid;
    outline: none;
  }

  #reservation-people::placeholder {
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  .reservation-button {
    width: 13rem;
    height: 3.6rem;
    margin-top: 3.25rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    font-size: 1.2rem;
  }

  /* Footer section */
  .section-r4 {
    margin-top: 10rem;
  }
}
