@import './shared/reset.css';
@import './shared/general.css';
@import './shared/header.css';
@import './shared/contact_forms.css';
@import './shared/footer.css';

/* Landing page */
.lp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 88vh;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.lp h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 3.7rem;
  color: #462816;
  font-weight: 500;
  margin-top: 4rem;
}

.lp p {
  font-size: 0.9rem;
  margin-top: 3.5rem;
}

.lp-button {
  width: 12rem;
  height: 3.5rem;
  background: #fcd5ce;
  border: 1px #fcd5ce solid;
  margin-top: 3rem;
  font-size: 1.05rem;
}

.lp-img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
}

/* About us section */
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 37rem;
  background: #efefef;
  padding-left: 2rem;
  padding-right: 2rem;
}

.about h1 {
  font-size: 4.5rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 4.9rem;
}

.about h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.about-button {
  width: 13.5rem;
  height: 3.5rem;
  background: #fcd5ce;
  border: 1px #fcd5ce solid;
  margin-top: 3rem;
  font-size: 1.05rem;
}

.about p {
  font-size: 0.9rem;
  margin-top: 2rem;
  line-height: 2.8rem;
}

/* What we do section */
.section-4 {
  margin-top: 10rem;
}

.wwd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40rem;
  padding-left: 3.6rem;
  padding-right: 0.65rem;
}

.wwd-img {
  width: 80%;
  height: 16rem;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  z-index: 1;
}

.wwd-rect {
  width: 80%;
  height: 49rem;
  background: #efefef;
  position: absolute;
  z-index: -1;
  margin-top: 8rem;
}

.wwd h1 {
  font-size: 3.5rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 4.9rem;
}

.wwd h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.6rem;
  margin-left: 0.5rem;
}

.wwd-text1 {
  font-size: 0.9rem;
  margin-top: 2rem;
  line-height: 2.3rem;
  margin-left: 0.5rem;
}

.wwd-text2 {
  font-size: 0.9rem;
  margin-top: 1.4rem;
  line-height: 2.3rem;
  margin-left: 0.5rem;
}

/* Menu section */
.section-5 {
  margin-top: 11.5rem;
}

.menu-img {
  width: 85%;
  height: 21rem;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  z-index: 1;
}

.menu-rect {
  width: 83%;
  height: 24rem;
  background: #efefef;
  position: absolute;
  margin-top: 4em;
  right: 0;
  z-index: -1;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 36rem;
  padding-left: 2rem;
  padding-right: 4rem;
}

.menu h1 {
  font-size: 5rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 4.9rem;
  letter-spacing: 0.1rem;
}

.menu h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1.3rem;
  margin-left: 0.5rem;
}

.menu p {
  font-size: 0.9rem;
  margin-top: 1.4rem;
  line-height: 2.8rem;
  margin-left: 0.65rem;
}

.menu button {
  width: 12.7rem;
  height: 3.7rem;
  background: #fcd5ce;
  border: 1px #fcd5ce solid;
  margin-top: 2.25rem;
  margin-left: 0.5rem;
  font-size: 1.05rem;
}

/* Reservation section */
.section-6 {
  margin-top: 5.2rem;
}

.reserv-img {
  width: 100%;
}

.reserv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 28rem;
}

.reserv h1 {
  font-size: 4rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 3.4rem;
  letter-spacing: 0.3rem;
}

.reserv-button {
  width: 14rem;
  height: 3.3rem;
  background: #fcd5ce;
  border: 1px #fcd5ce solid;
  margin-top: 3rem;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

/* Our benefits section */
.section-7 {
  margin-top: 10rem;
}

.benefits {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 34rem;
  padding-left: 1.5rem;
  padding-right: 4rem;
}

.benefits-img {
  width: 84%;
  height: 17.5rem;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  object-fit: cover;
}

.benefits-rect {
  width: 72%;
  height: 44rem;
  background: #efefef;
  position: absolute;
  right: 0;
  margin-top: 8rem;
  z-index: -1;
}

.benefits h1 {
  font-size: 3.8rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 5rem;
}

.benefits h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.benefits p {
  font-size: 0.9rem;
  margin-top: 1.7rem;
  line-height: 2.5rem;
  margin-left: 0.65rem;
}

.benefits-button {
  width: 13.5rem;
  height: 3.4rem;
  background: #fcd5ce;
  border: 1px #fcd5ce solid;
  margin-top: 2.3rem;
  margin-left: 0.5rem;
  font-size: 1.05rem;
}

/* Our Reviews section */
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 37rem;
  background: #efefef;
  margin-top: 10rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
}

.reviews h1 {
  font-size: 3.8rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 4.5rem;
}

.reviews-text {
  font-size: 0.9rem;
  margin-top: 1.7rem;
  line-height: 2.5rem;
}

.reviews-sign {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.7rem;
}

.reviews h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

.star {
  margin-top: 0.6rem;
  margin-left: 0.3rem;
}

/* LAPTOP VERSION */
@media screen and (min-width: 1025px) {
  /* Landing page */
  .lp {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
    justify-content: center;
    width: 100%;
    height: 84vh;
    padding-left: 15rem;
    padding-right: 25rem;
  }

  .lp h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    color: #462816;
    font-weight: 500;
    margin-top: 4rem;
  }

  .lp p {
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-left: 0.6rem;
  }

  .lp-button {
    width: 12rem;
    height: 3.5rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 2.75rem;
    margin-left: 0.6rem;
    font-size: 1.05rem;
  }

  .lp-button-h {
    border-radius: 25px;
    transition: ease 300ms;
  }

  .lp-button-h2 {
    border-radius: 0px;
    transition: ease 0ms;
  }

  .lp-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    z-index: -2;
  }

  /* About us section */
  .about {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
    width: 100%;
    height: 37rem;
    background: none;
    padding-left: 24rem;
    padding-right: 13rem;
    margin-top: 28.5rem;
  }

  .about h1 {
    font-size: 5.2rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 4.9rem;
    letter-spacing: 0.2rem;
  }

  .about h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 0rem;
  }

  .about-button {
    width: 13.5rem;
    height: 3.85rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 3rem;
    font-size: 1.05rem;
    margin-left: 0.35rem;
  }

  .about p {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2.8rem;
    margin-left: 0.35rem;
  }

  .about-rect {
    width: 31.4rem;
    height: 28rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    margin-top: 16.5rem;
    margin-left: 3rem;
  }

  /* What we do section */
  .section-4 {
    margin-top: 4.7rem;
  }

  .wwd {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40rem;
    padding-left: 11.3rem;
    padding-right: 13rem;
  }

  .wwd-img {
    width: 50%;
    height: 26rem;
    object-fit: cover;
    right: 0%;
    transform: translate(-0%);
    position: relative;
    z-index: -2;
  }

  .wwd-rect {
    width: 46%;
    height: 52.5rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    margin-top: 16rem;
    margin-left: 20rem;
  }

  .wwd h1 {
    font-size: 5.2rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 4.9rem;
    letter-spacing: 0.2rem;
  }

  .wwd h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2.35rem;
    margin-left: 12.8rem;
  }

  .wwd-text1 {
    font-size: 1.2rem;
    margin-top: 3.25rem;
    line-height: 2.8rem;
    margin-left: 12.8rem;
  }

  .wwd-text2 {
    font-size: 1.1rem;
    margin-top: 1.7rem;
    line-height: 2.8rem;
    margin-left: 12.8rem;
  }

  /* Menu section */
  .section-5 {
    margin-top: 15rem;
  }

  .menu-img {
    width: 40%;
    height: 24rem;
    object-fit: cover;
    left: 0%;
    transform: translate(0%);
    position: absolute;
    z-index: -2;
  }

  .menu-rect {
    width: 58%;
    height: 25.5rem;
    background: #efefef;
    position: absolute;
    margin-top: 7.8rem;
    margin-left: 20rem;
    right: auto;
    z-index: -1;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 36rem;
    padding-left: 24rem;
    padding-right: 6.5rem;
  }

  .menu h1 {
    font-size: 5.6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 12.5rem;
    letter-spacing: 0.1rem;
  }

  .menu h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1.4rem;
    margin-left: 0.5rem;
  }

  .menu p {
    font-size: 1.2rem;
    margin-top: 1.8rem;
    line-height: 2.8rem;
    margin-left: 0.7rem;
  }

  .menu button {
    width: 12.7rem;
    height: 3.7rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 2.8rem;
    margin-left: 0.55rem;
    font-size: 1.05rem;
  }

  .menu button:hover {
    background: #ffc1b6;
    border: 1px #ffc1b6 solid;
  }

  /* Reservation section */
  .section-6 {
    margin-top: 11.6rem;
  }

  .reserv-img {
    width: 56%;
    height: 28rem;
    position: absolute;
    right: 7%;
    object-fit: cover;
    z-index: -1;
  }

  .reserv {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    height: 28rem;
    padding-left: 7rem;
  }

  .reserv h1 {
    font-size: 5.8rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 600;
    color: #462816;
    margin-top: 8.25rem;
    letter-spacing: 0.55rem;
  }

  .reserv-button {
    width: 14rem;
    height: 3.3rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 5rem;
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }

  /* Our benefits section */
  .section-7 {
    margin-top: 13rem;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 34rem;
    padding-left: 4.5rem;
    padding-right: 24rem;
    background: #efefef;
  }

  .benefits-img {
    width: 52%;
    height: 30rem;
    left: auto;
    transform: translateX(0%);
    position: absolute;
    object-fit: cover;
    right: 0%;
    margin-top: 10rem;
    z-index: 2;
  }

  .benefits-rect {
    display: none;
  }

  .benefits h1 {
    font-size: 5.4rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 0rem;
  }

  .benefits h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
  }

  .benefits p {
    font-size: 1.2rem;
    margin-top: 2.2rem;
    line-height: 2.8rem;
    margin-left: 0.6rem;
  }

  .benefits-button {
    width: 13.8rem;
    height: 3.6rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 3rem;
    margin-left: 0.6rem;
    font-size: 1.05rem;
  }

  /* Our Reviews section */
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
    width: 100%;
    height: 30rem;
    background: none;
    margin-top: 18.7rem;
    padding-left: 20rem;
    padding-right: 2.3rem;
  }

  .reviews-rect {
    width: 80%;
    height: 25.7rem;
    background: #efefef;
    position: absolute;
    right: 0%;
    z-index: -1;
    margin-top: 1.8rem;
  }

  .reviews h1 {
    font-size: 5.5rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 0rem;
  }

  .reviews-text {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2.8rem;
    margin-left: 0.82rem;
  }

  .reviews-sign {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: 0.82rem;
  }

  .reviews h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
  }

  .star {
    margin-top: 0.6rem;
    margin-left: 0.82rem;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Landing page */
  .lp {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
    justify-content: center;
    width: 100%;
    height: 84vh;
    padding-left: 4rem;
    padding-right: 3rem;
  }

  .lp h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 6.8rem;
    color: #462816;
    font-weight: 500;
    margin-top: 4rem;
  }

  .lp p {
    font-size: 1.35rem;
    margin-top: 5rem;
    margin-left: 1rem;
    line-height: 2.5rem;
  }

  .lp-button {
    width: 13.5rem;
    height: 4.3rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 3.7rem;
    margin-left: 1rem;
    font-size: 1.3rem;
  }

  .lp-img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    position: absolute;
    z-index: -2;
  }

  /* About us section */
  .about {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
    width: 100%;
    height: 37rem;
    background: none;
    padding-left: 26%;
    padding-right: 3%;
    margin-top: 28.5rem;
  }

  .about h1 {
    font-size: 6.5rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
  }

  .about h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.55rem;
    margin-top: 2rem;
    margin-left: 0rem;
  }

  .about-button {
    width: 13.5rem;
    height: 3.85rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 3rem;
    font-size: 1.05rem;
    margin-left: 0.35rem;
  }

  .about p {
    font-size: 1.25rem;
    margin-top: 2rem;
    line-height: 2.8rem;
    margin-left: 0.35rem;
  }

  .about-rect {
    width: 25rem;
    height: 22rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    margin-top: 34%;
    margin-left: 3rem;
  }

  /* What we do section */
  .section-4 {
    margin-top: 5.5rem;
  }

  .wwd {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40rem;
    padding-left: 5%;
    padding-right: 6.5%;
  }

  .wwd-img {
    width: 50%;
    height: 26rem;
    object-fit: cover;
    right: 0%;
    transform: translate(-0%);
    position: relative;
    z-index: -2;
  }

  .wwd-rect {
    width: 65%;
    height: 59rem;
    background: #efefef;
    position: absolute;
    z-index: -1;
    margin-top: 35%;
    margin-left: 22%;
  }

  .wwd h1 {
    font-size: 6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 4.9rem;
    letter-spacing: 0.2rem;
  }

  .wwd h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 2.35rem;
    margin-left: 12.8rem;
  }

  .wwd-text1 {
    font-size: 1.2rem;
    margin-top: 3.25rem;
    line-height: 2.8rem;
    margin-left: 12.8rem;
  }

  .wwd-text2 {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2.8rem;
    margin-left: 12.8rem;
  }

  /* Menu section */
  .section-5 {
    margin-top: 26rem;
  }

  .menu-img {
    width: 50%;
    height: 27rem;
    object-fit: cover;
    left: 0%;
    transform: translate(0%);
    position: absolute;
    z-index: -2;
  }

  .menu-rect {
    width: 80%;
    height: 29rem;
    background: #efefef;
    position: absolute;
    margin-top: 5rem;
    margin-left: 20rem;
    right: 0;
    z-index: -1;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 36rem;
    padding-left: 28%;
    padding-right: 5%;
  }

  .menu h1 {
    font-size: 6rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 11rem;
    letter-spacing: 0.1rem;
  }

  .menu h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 1.4rem;
    margin-left: 0.5rem;
  }

  .menu p {
    font-size: 1.2rem;
    margin-top: 1.8rem;
    line-height: 2.8rem;
    margin-left: 0.7rem;
  }

  .menu button {
    width: 13rem;
    height: 4rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 2rem;
    margin-left: 0.55rem;
    font-size: 1.05rem;
  }

  /* Reservation section */
  .section-6 {
    margin-top: 11.6rem;
  }

  .reserv-img {
    width: 82%;
    height: 23rem;
    position: absolute;
    left: 50%;
    object-fit: cover;
    transform: translateX(-50%);
    z-index: -1;
  }

  .reserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 0%;
  }

  .reserv h1 {
    font-size: 5.8rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 600;
    color: #462816;
    margin-top: 28rem;
    letter-spacing: 0.55rem;
  }

  .reserv-button {
    width: 14rem;
    height: 4.1rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 4.4rem;
    margin-left: 0.5rem;
    font-size: 1.1rem;
  }

  /* Our benefits section */
  .section-7 {
    margin-top: 13rem;
  }

  .benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 34rem;
    padding-left: 5%;
    padding-right: 5%;
    background: #efefef;
  }

  .benefits-img {
    width: 51%;
    height: 23rem;
    left: auto;
    transform: translateX(0%);
    position: absolute;
    object-fit: cover;
    right: 0%;
    margin-top: 26rem;
  }

  .benefits-rect {
    display: none;
  }

  .benefits h1 {
    font-size: 5.4rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 0rem;
  }

  .benefits h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
  }

  .benefits p {
    font-size: 1.2rem;
    margin-top: 2.2rem;
    line-height: 2.8rem;
    margin-left: 0.6rem;
  }

  .benefits-button {
    width: 13.8rem;
    height: 3.6rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 3rem;
    margin-left: 0.6rem;
    font-size: 1.05rem;
  }

  /* Our Reviews section */
  .section-8 {
    margin-top: 29rem;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: start;
    width: 100%;
    height: 30rem;
    background: none;
    padding-left: 24%;
    padding-right: 6%;
  }

  .reviews-rect {
    width: 85%;
    height: 25.7rem;
    background: #efefef;
    position: absolute;
    right: 0%;
    z-index: -1;
    margin-top: 1.8rem;
  }

  .reviews h1 {
    font-size: 5.5rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 0rem;
  }

  .reviews-text {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2.8rem;
    margin-left: 0.82rem;
  }

  .reviews-sign {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: 0.82rem;
  }

  .reviews h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
  }

  .star {
    margin-top: 0.6rem;
    margin-left: 0.82rem;
  }
}
