html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  line-height: 2.2rem;
  overflow-x: hidden;
}

button {
  outline: none;
  cursor: pointer;
  transition: 0.8s background ease-out;
}

button:hover {
  background: #ffb8ac;
  border: 1px #ffb8ac solid;
}

textarea {
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* LAPTOP VERSION */
@media screen and (min-width: 1025px) {
  body {
    font-family: 'Nunito', sans-serif;
    line-height: 2.2rem;
  }

  button {
    outline: none;
    cursor: pointer;
    transition: 400 background ease-out;
  }

  button:hover {
    background: #ffb8ac;
    border: 1px #ffb8ac solid;
  }

  textarea {
    resize: none;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-family: 'Nunito', sans-serif;
    line-height: 2.2rem;
  }

  button {
    outline: none;
    cursor: pointer;
  }

  textarea {
    resize: none;
  }
}
