/* Contact section */
.section-9 {
  margin-top: 11rem;
}

.contact-rect {
  width: 100%;
  height: 41rem;
  background: #f5f4f4;
  position: absolute;
  z-index: -1;
  margin-top: 3.4rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40.5rem;
}

.contact h1 {
  font-size: 3.7rem;
  font-family: 'Lobster Two', cursive;
  font-weight: 500;
  color: #462816;
  margin-top: 2rem;
  letter-spacing: 0.3rem;
}

.contact h3 {
  font-family: 'Lobster Two', cursive;
  color: #ffc1b6;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 1rem;
}

#c-name {
  width: 83.5%;
  height: 3.5rem;
  border: 1.4px rgb(36, 35, 35) solid;
  margin-top: 2.5rem;
  padding-left: 1.4rem;
  outline: none;
  padding-right: 1.4rem;
}

#c-name::placeholder {
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

#c-email {
  width: 83.5%;
  height: 3.5rem;
  border: 1.4px rgb(36, 35, 35) solid;
  margin-top: 1.23rem;
  padding-left: 1.4rem;
  outline: none;
  padding-right: 1.4rem;
}

#c-email::placeholder {
  color: #000;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

#c-msg {
  width: 83.5%;
  height: 8rem;
  border: 1.4px rgb(36, 35, 35) solid;
  margin-top: 1.23rem;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  padding-top: 0.9rem;
  outline: none;
}

#c-msg::placeholder {
  color: #000;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  font-family: 'Nunito', sans-serif;
}

.c-button {
  width: 13.5rem;
  height: 3.4rem;
  background: #fcd5ce;
  border: 1px #fcd5ce solid;
  margin-top: 2.7rem;
  font-size: 1.05rem;
}

.socials {
  margin-left: 1.95rem;
}

.c-twitter {
  margin-left: 1rem;
}

.c-ig {
  margin-left: 1rem;
}

/* LAPTOP VERSION */
@media screen and (min-width: 1025px) {
  /* Contact section */
  .section-9 {
    margin-top: 11rem;
  }

  .contact-rect {
    width: 42%;
    height: 42.8rem;
    background: #f5f4f4;
    position: absolute;
    z-index: -1;
    margin-top: 0rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 41rem;
    padding-left: 5rem;
  }

  .contact h1 {
    font-size: 5.2rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 2rem;
    letter-spacing: 0.3rem;
  }

  .contact h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }

  #c-name {
    width: 63%;
    height: 3.5rem;
    border: 1.4px rgb(36, 35, 35) solid;
    margin-top: 2.5rem;
    padding-left: 1.4rem;
    outline: none;
    padding-right: 1.4rem;
    margin-left: 0.5rem;
  }

  #c-name::placeholder {
    color: #000;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #c-email {
    width: 63%;
    height: 3.5rem;
    border: 1.4px rgb(36, 35, 35) solid;
    margin-top: 1.23rem;
    padding-left: 1.4rem;
    outline: none;
    padding-right: 1.4rem;
    margin-left: 0.5rem;
  }

  #c-email::placeholder {
    color: #000;
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #c-msg {
    width: 63%;
    height: 8rem;
    border: 1.4px rgb(36, 35, 35) solid;
    margin-top: 1.23rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.9rem;
    outline: none;
    margin-left: 0.5rem;
  }

  #c-msg::placeholder {
    color: #000;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-family: 'Nunito', sans-serif;
  }

  .c-button {
    width: 13.5rem;
    height: 3.4rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 3.2rem;
    font-size: 1.05rem;
    margin-left: 0.5rem;
  }

  .socials {
    position: absolute;
    right: 1.8%;
  }

  .c-twitter {
    margin-left: 1rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  .c-twitter:hover {
    filter: opacity(45%);
    transition: 300ms;
    cursor: pointer;
  }

  .c-ig {
    margin-left: 1rem;
    width: 1.25rem;
    height: 1.25rem;
  }

  .c-ig:hover {
    filter: opacity(45%);
    transition: 300ms;
    cursor: pointer;
  }

  .c-fb {
    height: 1.25rem;
    width: 0.9rem;
  }

  .c-fb:hover {
    filter: opacity(45%);
    transition: 300ms;
    cursor: pointer;
  }
}

/* Tablet view */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Contact section */
  .section-9 {
    margin-top: 11rem;
  }

  .contact-rect {
    width: 72%;
    height: 42.8rem;
    background: #f5f4f4;
    position: absolute;
    z-index: -1;
    margin-top: 0rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: 41rem;
    padding-left: 5rem;
  }

  .contact h1 {
    font-size: 5.2rem;
    font-family: 'Lobster Two', cursive;
    font-weight: 500;
    color: #462816;
    margin-top: 2rem;
    letter-spacing: 0.3rem;
  }

  .contact h3 {
    font-family: 'Lobster Two', cursive;
    color: #ffc1b6;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }

  #c-name {
    width: 83%;
    height: 3.5rem;
    border: 1.4px rgb(36, 35, 35) solid;
    margin-top: 2.5rem;
    padding-left: 1.4rem;
    outline: none;
    padding-right: 1.4rem;
    margin-left: 0.5rem;
  }

  #c-name::placeholder {
    color: #000;
    font-size: 0.97rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #c-email {
    width: 83%;
    height: 3.5rem;
    border: 1.4px rgb(36, 35, 35) solid;
    margin-top: 1.23rem;
    padding-left: 1.4rem;
    outline: none;
    padding-right: 1.4rem;
    margin-left: 0.5rem;
  }

  #c-email::placeholder {
    color: #000;
    font-size: 0.97rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
  }

  #c-msg {
    width: 83%;
    height: 8rem;
    border: 1.4px rgb(36, 35, 35) solid;
    margin-top: 1.23rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 0.9rem;
    outline: none;
    margin-left: 0.5rem;
  }

  #c-msg::placeholder {
    color: #000;
    font-size: 0.97rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    font-family: 'Nunito', sans-serif;
  }

  .c-button {
    width: 14rem;
    height: 3.8rem;
    background: #fcd5ce;
    border: 1px #fcd5ce solid;
    margin-top: 3.2rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .socials {
    position: absolute;
    right: 1.8%;
  }

  .c-twitter {
    margin-left: 1rem;
    width: 1.35rem;
    height: 1.25rem;
  }

  .c-ig {
    margin-left: 1rem;
    width: 1.35rem;
    height: 1.25rem;
  }

  .c-fb {
    height: 1.35rem;
    width: 0.9rem;
  }
}
