* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Nunito', sans-serif;
   line-height: 2.2rem;
}

button {
   outline: none;
   cursor: pointer;
}

/* Nav */
.nav {
   display: flex;
   position: fixed;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 4.7rem;
   box-shadow: 2.5px 0px 8px 0px rgba(0, 0, 0, 0.1);
   padding-left: 2rem;
   padding-right: 2.5rem;
   z-index: 6;
   background: #fff;
}

.nav h1{
   font-family: 'Lobster Two', cursive;
   font-size: 2rem;
   font-weight: 500;
}

.burger-line {
   background: #1b1a1a;
   width: 1.7rem;
   height: 0.2rem;
   border-radius: 1rem;
}

.burger-line::after, .burger-line::before {
   content: "";
   position: absolute;
   background: #1b1a1a;
   width: 2.3rem;
   height: 0.2rem;
   border-radius: 1rem;
   transition: ease 400ms;
}

.burger-line::after {
   transform: translateY(0.6rem);
}

.burger-line::before {
   transform: translateY(-0.6rem);
}

.menu-burger {
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   background: #EFEFEF;
   right: -100%;
   transition: ease 400ms;
   z-index: 5;
}

.menu-burger a {
   text-decoration: none;
   color: #000;
}

.menu-burger li {
   display: inline-block;
   position: relative;
   margin-top: 2.8rem;
   font-size: 1.35rem;
   padding-bottom: 0.3rem;
}

.menu-burger li::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 0.1rem;
   background: #1b1a1a;
   bottom: 0;
   left: 0;
   transform-origin: left;
   transform: scale(0);
   transition: 400ms;
}

.menu-burger li:hover::after {
   transform: scale(1);
}

/* Nav - burger: Animation */
.openB .burger-line::after {
   transform: rotate(135deg);
}

.openB .burger-line::before {
   transform: rotate(-135deg);
}

.openB .burger-line {
   background: transparent;
}

.openM {
   right: 0%;
}

/* Landing page */
.lp {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 88vh;
   padding-left: 1.6rem;
   padding-right: 1.6rem;
}

.lp h1 {
   font-family: 'Lobster Two', cursive;
   font-size: 3.7rem;
   color: #462816;
   font-weight: 500;
   margin-top: 11.5rem;
}

.lp p {
   font-size: 0.9rem;
   margin-top: 3.5rem;
}

.lp-button {
   width: 12rem;
   height: 3.5rem;
   background: #FCD5CE;
   border: 1px #FCD5CE solid;
   margin-top: 3rem;
   font-size: 1.05rem;
}

.lp-img {
   width: 100%;
   height: 22rem;
   object-fit: cover;
}

/* About us section */
.about {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 37rem;
   background: #EFEFEF;
   padding-left: 2rem;
   padding-right: 2rem;
}

.about h1 {
   font-size: 4.5rem;
   font-family: 'Lobster Two', cursive;
   font-weight: 500;
   color: #462816;
   margin-top: 4.9rem;
}

.about h3 {
   font-family: 'Lobster Two', cursive;
   color: #FFC1B6;
   letter-spacing: 0.1rem;
   font-weight: 500;
   font-size: 1.2rem;
   margin-top: 1.2rem;
}

.about-button {
   width: 13.5rem;
   height: 3.5rem;
   background: #FCD5CE;
   border: 1px #FCD5CE solid;
   margin-top: 3rem;
   font-size: 1.05rem;
}

.about p {
   font-size: 0.9rem;
   margin-top: 2rem;
   line-height: 2.8rem;
}

/* What we do section */
.section-4 {
   margin-top: 10rem;
}

.wwd {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 40rem;
   padding-left: 3.6rem;
   padding-right: 0.65rem;
}

.wwd-img {
   width: 80%;
   height: 16rem;
   object-fit: cover;
   left: 50%;
   transform: translate(-50%);
   position: relative;
   z-index: 1;
}

.wwd-rect {
   width: 80%;
   height: 49rem;
   background: #EFEFEF;
   position: absolute;
   top: 275%;
   z-index: -1;
}

.wwd h1 {
   font-size: 3.5rem;
   font-family: 'Lobster Two', cursive;
   font-weight: 500;
   color: #462816;
   margin-top: 4.9rem;
}

.wwd h3 {
   font-family: 'Lobster Two', cursive;
   color: #FFC1B6;
   letter-spacing: 0.1rem;
   font-weight: 500;
   font-size: 1.2rem;
   margin-top: 0.6rem;
   margin-left: 0.5rem;
}

.wwd-text1 {
   font-size: 0.9rem;
   margin-top: 2rem;
   line-height: 2.3rem;
   margin-left: 0.5rem;
}

.wwd-text2 {
   font-size: 0.9rem;
   margin-top: 1.4rem;
   line-height: 2.3rem;
   margin-left: 0.5rem;
}

/* Menu section */
.section-5 {
   margin-top: 11.5rem;
}

.menu-img {
   width: 85%;
   height: 21rem;
   object-fit: cover;
   left: 50%;
   transform: translate(-50%);
   position: relative;
   z-index: 1;
}

.menu-rect {
   width: 83%;
   height: 24rem;
   background: #EFEFEF;
   position: absolute;
   margin-top: 4em;
   right: 0;
   z-index: -1;
}

.menu {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 36rem;
   padding-left: 2rem;
   padding-right: 4rem;
}

.menu h1 {
   font-size: 5rem;
   font-family: 'Lobster Two', cursive;
   font-weight: 500;
   color: #462816;
   margin-top: 4.9rem;
   letter-spacing: 0.1rem;
}

.menu h3 {
   font-family: 'Lobster Two', cursive;
   color: #FFC1B6;
   letter-spacing: 0.1rem;
   font-weight: 500;
   font-size: 1.2rem;
   margin-top: 1.3rem;
   margin-left: 0.5rem;
}

.menu p {
   font-size: 0.9rem;
   margin-top: 1rem;
   line-height: 2.8rem;
   margin-left: 0.65rem;
}

.menu button {
   width: 12.7rem;
   height: 3.7rem;
   background: #FCD5CE;
   border: 1px #FCD5CE solid;
   margin-top: 2rem;
   margin-left: 0.5rem;
   font-size: 1.05rem;
}

/* Reservation section */
.section-6 {
   margin-top: 5.2rem;
}

.reserv-img {
   width: 100%;
}

.reserv {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 28rem;
}

.reserv h1 {
   font-size: 4rem;
   font-family: 'Lobster Two', cursive;
   font-weight: 500;
   color: #462816;
   margin-top: 3.4rem;
   letter-spacing: 0.3rem;
}

.reserv-button {
   width: 14rem;
   height: 3.3rem;
   background: #FCD5CE;
   border: 1px #FCD5CE solid;
   margin-top: 3rem;
   margin-left: 0.5rem;
   font-size: 1.10rem;
}

/* Our benefits section */
.section-7 {
   margin-top: 10rem;
}

.benefits {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 34rem;
   padding-left: 1.5rem;
   padding-right: 4rem;
}

.benefits-img {
   width: 84%;
   height: 17.5rem;
   left: 50%;
   transform: translateX(-50%);
   position: relative;
   object-fit: cover;
}

.benefits-rect {
   width: 72%;
   height: 44rem;
   background: #EFEFEF;
   position: absolute;
   right: 0;
   margin-top: 8rem;
   z-index: -1;
}

.benefits h1 {
   font-size: 3.8rem;
   font-family: 'Lobster Two', cursive;
   font-weight: 500;
   color: #462816;
   margin-top: 5rem;
}

.benefits h3 {
   font-family: 'Lobster Two', cursive;
   color: #FFC1B6;
   letter-spacing: 0.1rem;
   font-weight: 500;
   font-size: 1.2rem;
   margin-top: 1rem;
   margin-left: 0.5rem;
}

.benefits p {
   font-size: 0.9rem;
   margin-top: 1.7rem;
   line-height: 2.5rem;
   margin-left: 0.65rem;
}

.benefits-button {
   width: 13.5rem;
   height: 3.4rem;
   background: #FCD5CE;
   border: 1px #FCD5CE solid;
   margin-top: 2.3rem;
   margin-left: 0.5rem;
   font-size: 1.05rem;
}

/* Our Reviews section */
.reviews {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   width: 100%;
   height: 37rem;
   background: #EFEFEF;
   margin-top: 10rem;
   padding-left: 2.3rem;
   padding-right: 2.3rem;
}

.reviews h1 {
   font-size: 3.8rem;
   font-family: 'Lobster Two', cursive;
   font-weight: 500;
   color: #462816;
   margin-top: 4.5rem;
}

.reviews-text {
   font-size: 0.9rem;
   margin-top: 1.7rem;
   line-height: 2.5rem;
}

.reviews-sign {
   font-size: 1.2rem;
   font-weight: 700;
   margin-top: 1.7rem;
}

.reviews h3 {
   font-family: 'Lobster Two', cursive;
   color: #FFC1B6;
   letter-spacing: 0.1rem;
   font-weight: 500;
   font-size: 1.2rem;
   margin-top: 1.2rem;
}

.star {
   margin-top: 0.6rem;
   margin-left: 0.3rem;
}